.about {
    background-image: url('https://imgs.search.brave.com/sRfM_JZCIRnb24k6uUvKqldZXT-QrqqugDq9lAbD-kI/rs:fit:1200:1126:1/g:ce/aHR0cDovL3dhbGxw/YXBlcmNhdmUuY29t/L3dwLzQyZGhIS04u/anBn');
    background-repeat:repeat;
    background-size: cover;
    min-height: 91vh;
    color:rgb(255, 183, 2);
    text-shadow: 1px 1px 0px black;

}

.about button {
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(255, 183, 2);
    background-color: #33608c;
    font-weight: 600;
    text-shadow: 1px 0.5px 0px black;

}

.about h2 {
    margin-bottom: 25px;
}

.about h5 {
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 183, 2);
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.about h6 {
    color: tomato;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 2px 1px black;
}

.about .mt-3 {
    font-style: italic;
    font-weight: bolder;
}

.about .phoneNumber {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bolder;
}

.about p {
    text-align: justify;
    margin: 30px;
    padding: 5px;
}