
.admin {
    background-color: #afdbf6;
    text-align: center;
    min-height: 89vh;
}

.admin h1 {
    text-align: center;
    padding-top: 10px;
}

.admin .parent {
    display: flex;
    justify-content: space-around;
}

