
.admin {
    background-color: rgb(222, 244, 255);
    background-image: url('https://imgs.search.brave.com/sRfM_JZCIRnb24k6uUvKqldZXT-QrqqugDq9lAbD-kI/rs:fit:1200:1126:1/g:ce/aHR0cDovL3dhbGxw/YXBlcmNhdmUuY29t/L3dwLzQyZGhIS04u/anBn');
    background-repeat:repeat;
    background-size: cover;
    min-height: 91vh;
}

.admin h1 {
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 183, 2);
    text-shadow: 1px 0px 2px black;
}

.admin .parent {
    display: inline-flex;
    justify-content: space-around;
    margin: 75px 100px 5px 5px;

}

.admin .coupon {
    display: inline-flex;
    justify-content: space-around;
    margin: 75px 5px 5px 100px;
}
