.not-found {
    background-color:beige;
    min-height: 97vh;

}

/* .not found img {
min-height:
}

.not-found .error-text {
    position:absolute;
    width: 200px;
    right: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
} */