.not-found {
    background-color: rgb(222, 244, 255);
    background-image: url('https://imgs.search.brave.com/sRfM_JZCIRnb24k6uUvKqldZXT-QrqqugDq9lAbD-kI/rs:fit:1200:1126:1/g:ce/aHR0cDovL3dhbGxw/YXBlcmNhdmUuY29t/L3dwLzQyZGhIS04u/anBn');
    background-repeat:repeat;
    background-size: cover;
    min-height: 91vh;
}

.not-found img {
    opacity: 0.9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.not-found .error-text {
    font-weight: bold;
    font-size: larger;
    margin-top: 3px;
} 
