.not-found {
    background-color: #afdbf6;
    min-height: 91vh;

}

.not-found img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.not-found .error-text {
    font-weight: bold;
    font-size: larger;
    margin-top: 3px;
} 