.add-products {
    display: block;
    width: 500px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
    background-color: rgb(231, 231, 231);
    opacity: 0.9;
}

.add-products h3 {
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 183, 2);
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;

    font-style: oblique;
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 25px;
}

.add-products .my-control {
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 183, 2);
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 25px;
    text-align: left;
    margin-top: 12px;
}

.add-products .my-control label {
    color: #33608c;
    margin-bottom: 3px;
}

.add-products .my-control.center {
    text-align: center;
    margin-top: 25px;
}

.my-control {
    display: block;
    margin-bottom: 10px;
}
  
.my-control .form-label {
    display: block;
    color: black;
    font-weight: bold;
}
