.footer {
  background-color: aliceblue;
  height: 40px;
}

.footer label {
  text-align: center;
  padding-top: 10px;
  color: rgb(255, 183, 2);
  text-shadow: 1px 1px 2px black;
  font-weight: bolder;
  font-style: oblique;
  font-family: 'Kalam', cursive;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 25px;
}
